
@{
    ViewBag.Title = "Dashboard";
}

<div class="main-section-header row">
    <div class="col-sm-12">
        <h2>Dashboard</h2>
    </div>
</div>

<div class="main-section-body">
    <div class="row">
        <div class="large-container col-xs-12 col-sm-4">
            <h4>Location Contact Information</h4>
            <label>Address</label>
            <p>
                1234 McMaster Way <br />
                Kamloops, BC, Canada <br />
                250-555-1234
            </p>
        </div>
        <div class="large-container col-xs-12 col-sm-8">
            <h4>Site Map</h4>
            <div id="map"></div>
        </div>
    </div>

    <div class="row">
        <div class="chart-container col-xs-12 col-sm-3">
            <label>Inbound Shipments per Month by Equipment</label>
            <div id="chartx">
                @* Intentionally empty filled via AJAX with telerik control *@
            </div>
        </div>
        <div class="chart-container col-xs-12 col-sm-3">
            <label>Outbound Shipments per Month by Equipment</label>
            <div id="chartx">
                @* Intentionally empty filled via AJAX with telerik control *@
            </div>
        </div>
        <div class="chart-container col-xs-12 col-sm-3">
            <label>On Hand Units per Group</label>
            <div id="chartx">
                @* Intentionally empty filled via AJAX with telerik control *@
            </div>
        </div>
        <div class="chart-container col-xs-12 col-sm-3">
            <label>Inbound Shipments per Month by Equipment</label>
            <div id="chartx">
                @* Intentionally empty filled via AJAX with telerik control *@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-container col-sm-12">

        </div>
    </div>
</div>
